



.back {
    background:#ABAD3F;
}
h1.home {
    padding:20px;
    color:#E25B6A;
    text-align: center; 
    font-family: "perpetua";

}
p.home {
    color:#E7F2B6;
    font-family: garamond;
    padding: 20px;
}
h.new {
    padding:15px;
    color:#FFAEAA;
    text-align:right;
    font-family:"helvetica";
    font-size:large;
    font-weight:100;

}
p.new {
    color:#E25B6A;
    font-family:monospace;
    font-size:30px;
    padding: 20px;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #651B0E;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #651B0E;
  }
  
  .active {
    background-color: rgb(153, 36, 21);
  }
