



body {
    background:#ABAD3F;
}
h1 {
    padding:20px;
    color:#E25B6A;
    text-align: center; 
    font-family: "perpetua";
    font-weight: 700;

}
p {
    color:#E7F2B6;
    font-family: garamond;
    padding: 20px;
    font-size:larger
}
h1.option {
    padding:15px;
    color:#FFAEAA;
    text-align:center;
    font-family:"helvetica";
    font-size:large;
    font-weight:700;

}
p.new {
    color:#E25B6A;
    font-family:monospace;
    font-size:15px;
    padding: 20px;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #651B0E;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #651B0E;
  }
  
  .active {
    background-color: rgb(153, 36, 21);
  }
